<% content_for(:page_title) do %><%= archives_title %><% end -%>

<% if @months.empty? -%>
	<p>Once posts are added they will start to appear in this archive.</p>
<% else -%>

	<% @months.each do |month| -%>
	<div class='archive-month'>
		<h2><%= format_month(month.date) %></h2>
	<ul >
	  <% month.posts.each do |post| -%>
	  <table>
	   <tr><td style="width: 20px;"> <li><%= format_post_day(post.published_at) %></td><td><%= link_to(post.title, post_path(post)) %></td><td><% unless post.tags.empty? %> <span class='tags'>(<%= linked_tag_list(post.tags) %>)</span><% end -%></td></li>
	   </tr></table>
	  <% end -%>
	</ul>
	<% end -%>
	</div>
<% end -%>
