<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title>A Life of Plenty</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'rails' %>
  <%= javascript_include_tag 'aqtree3clickable' %>
  <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>

   <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>

      <div id= "header">
      <h1> A Life of Plenty </h1>
                <div id="navigation">
        <ul>
          <% page_links_for_navigation.each do |link| -%>
            <li><%= link_to(link.name, link.url) %></li>
          <% end -%>
        </ul>
          </div>
      </div>
<body>
  <div id="page_container">

        <% unless category_links_for_navigation.empty? -%>
        <div id= "menu">
          <h2>Tags</h2>
          <ul>
            <% category_links_for_navigation.each do |link| -%>
              <li><%= link_to(link.name, link.url) %></li>
            <% end -%>
          </ul>
          <h2>Pictures</h2>
          <ul>
            <% picture_links_for_navigation.each do |link| -%>
              <li><%= link_to(link.name, link.url) %></li>
            <% end -%>
          </ul>
          <% end -%>
      </div>
    <div id="content">
      <h1 id="page_heading"></h1>

      <div id="main">
        <%= yield %>
      </div>



      <div id="footer"> <%= auto_discovery_link_tag(:rss, "http://alifeofplenty.heroku.com") %></div>
    </div>
  </div>
<%= render :partial => 'layouts/ga' if RAILS_ENV == 'production' %>
</body>
</html>
